In [1]:
!pip install pandas sqlalchemy psycopg2-binary

Requirement already satisfied: pandas in /opt/conda/lib/python3.11/site-packages (2.1.1)
Requirement already satisfied: sqlalchemy in /opt/conda/lib/python3.11/site-packages (2.0.22)
Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.10-cp311-cp311-manylinux_2_17_aarch64.manylinux2014_aarch64.whl.metadata (4.9 kB)
Requirement already satisfied: numpy>=1.23.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (1.24.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/conda/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: typing-extensions>=4.2.0 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy) (4.8.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy) (3.0.0)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading psycopg2_binary-2.9.10-cp311-cp311-manylinux_2_17_aarch64.manylinux2014_aarch64.whl (2.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.9/2.9 MB 8.9 MB/s eta 0:00:00a 0:00:01
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.10

In [13]:
import pandas as pd
from sqlalchemy import create_engine, types

# Create database connection
db_params = {
    'host': 'bible_db',  # service name from docker-compose
    'database': 'bible_db',
    'user': 'bible_user',
    'password': 'bible_password'
}

engine = create_engine(f"postgresql://{db_params['user']}:{db_params['password']}@{db_params['host']}/{db_params['database']}")

In [20]:
df = pd.read_csv('/home/jovyan/data/KJV.csv')
df.columns = df.columns.str.lower()
df['translation'] = 'King James Version'
dtype_mapping = {
    'translation': types.VARCHAR(100),
    'book': types.VARCHAR(100),
    'chapter': types.INT,
    'verse': types.INT,
    'text': types.TEXT
    
}

In [21]:
df.to_sql('verses', engine, if_exists='replace', index=False, dtype=dtype_mapping)

102

In [15]:
df.head(10)

      book  chapter  verse                                               text
0  Genesis        1      1  In the beginning God created the heaven and th...
1  Genesis        1      2  And the earth was without form and void; and d...
2  Genesis        1      3  And God said, Let there be light: and there wa...
3  Genesis        1      4  And God saw the light, that it was good: and G...
4  Genesis        1      5  And God called the light Day, and the darkness...
5  Genesis        1      6  And God said, Let there be a firmament in the ...
6  Genesis        1      7  And God made the firmament, and divided the wa...
7  Genesis        1      8  And God called the firmament Heaven. And the e...
8  Genesis        1      9  And God said, Let the waters under the heaven ...
9  Genesis        1     10  And God called the dry land Earth; and the gat...